body{
  margin: 0;
  padding: 0;

}

.container{
  background-color: orange;
  height: 150px;
  text-align: center;

}

.box{
  background-color: green;
  width: 25%;
  height: 100px;
  display: inline-block;
}

.box2{
  background-color: blue;
  width: 23%;
  height: 100px;
  display: inline-block;
}

.item{
  width: 25%;
}
